// @import './surface-1.01/src/scss/surface_styles.scss';
x-control {
  table {
    .menu {
      .menu-list {
        display: none;
        position: absolute;
        background-color: #fff;
        right: 0;
        white-space: nowrap;
      }
      :hover {
        .menu-list {
          display: block;
        }
      }
    }
  }
}