<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      stoneware.io
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle" onclick={ctrl.onClickNavToggle()}>
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="{'nav-right nav-menu' + (state.isNavActive ? ' is-active' : '')}">
    <a class="nav-item">
      Home
    </a>
    <a class="nav-item">
      Documentation
    </a>
    <a class="nav-item">
      Blog
    </a>
    <!--<h2 class="title is-5">API</h2>-->
    <a
      if="state.isLoaded"
      href="#"
      class="nav-item"
      each="schema, schema.id in props.schemas"
      onclick="{ctrl.onClickResource($event, schema)}"
      title={schema.description}>{schema.title}</a>
  </div>
</nav>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <aside class="menu">
          <p class="menu-label">
            API
          </p>
          <ul class="menu-list">
            <li>
              <a
                if="state.isLoaded"
                href="#"
                each="schema, schema.id in props.schemas"
                onclick="{ctrl.onClickResource($event, schema)}"
                title={schema.description}>{schema.title}</a>
            </li>
          </ul>
        </aside>
      </div>
      <div if="state.isLoaded" class="column">
        <main if="state.schemas.length">
          <div class="tabs">
            <ul>
              <li 
                each="schema in state.schemas"
                class="{ctrl.findSchema(schema).id === state.activeSchemaId ? 'is-active' : ''}">
                <a onclick="{ctrl.onClickNavTab($event, schema)}">{ctrl.findSchema(schema).title}</a>
              </li>
            </ul>
          </div>
          <div>
            <x-schema
              skip
              each="schema in state.schemas" schema="{ctrl.findSchema(schema)}"
              hidden="{ctrl.findSchema(schema).id !== state.activeSchemaId ? 'hidden' : null}">
            </x-schema>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>
