<script>
  const onClickResource = this.onClickResource.bind(this)
  const onClickNavToggle = this.onClickNavToggle.bind(this)
  const onClickNavTab = this.onClickNavTab.bind(this)
</script>
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      stoneware.io
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle" onclick={onClickNavToggle()}>
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="{'nav-right nav-menu' + (this.state.isNavActive ? ' is-active' : '')}">
    <a class="nav-item">
      Home
    </a>
    <a class="nav-item">
      Documentation
    </a>
    <a class="nav-item">
      Blog
    </a>
    <!--<h2 class="title is-5">API</h2>-->
    <a
      if="this.state.loaded"
      href="#"
      class="nav-item"
      each="schema, schema.id in this.schemas"
      onclick="{onClickResource($event, schema)}"
      title={schema.description}>{schema.title}</a>
  </div>

</nav>
<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <aside class="menu">
            <p class="menu-label">
              API
            </p>
            <ul class="menu-list">
              <li>
                <a
                  if="this.state.loaded"
                  href="#"
                  each="schema, schema.id in this.schemas"
                  onclick="{onClickResource($event, schema)}"
                  title={schema.description}>{schema.title}</a>
              </li>
            </ul>
          </aside>
        </div>
        <div class="column">
          <main if="this.state.schemas.length">
            <div class="tabs">
              <ul>
                <li 
                  class="{this.findSchema(schema).id === this.state.activeSchemaId ? 'is-active' : ''}"
                  each="schema in this.state.schemas">
                  <a onclick="{onClickNavTab($event, schema)}">{this.findSchema(schema).title}</a>
                </li>
              </ul>
            </div>
            <div>
              <x-control
                skip
                hidden="{this.findSchema(schema).id !== this.state.activeSchemaId ? 'hidden' : null}"
                each="schema in this.state.schemas" schema={this.findSchema(schema)}></x-control>
            </div>
          </main>
        </div>
      </div>
    </div>
  </section>
